/*footer*/
footer {
    margin-top: auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: map-get($bgs-colors, primary_bg);
    justify-content: space-around;
    .redes{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        img {
            @include with-imgFooter;
            &:hover{
                transform: scale(1.2);
            }
            }
            .whatssap img {
                padding: 5px;
                border-radius: 50px;
            }
        
    }
    p {
        @include flex-JustiCenter;
        margin: 0px;
        color: darkgray;
        font-size: 13px;
    }
}