/*header*/
header {
    a.nav-link {
        text-decoration: none;
        color: map-get($fonts-colors, font-color);
        margin: 0%;
        &:hover{
            transform: scale(1.1);
            color: map-get($bgs-colors, hover-color);
        }
    }

    div {
        display: flex;
        justify-content: space-between;
    }

    .navbar {
        padding: 0 0 0 0;

        .header {
            background-color: map-get($bgs-colors, primary_bg);

            .logo {
                height: 90px;
                width: 90px;
                padding: 5px;
            }

            button {
                border: 0;
            }
        }
    }
}