/*header*/
header {
    .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
        text-decoration: none;
        color: map-get($fonts-colors, hover-color);
        margin: 0%; 
        color: #ffbd01;
        transform: scale(1.1);
    }
    a.nav-link{
        text-decoration: none;
        color: map-get($fonts-colors, font-color);
        margin: 0%;
        &:hover{
            transform: scale(1.1);
            color: map-get($fonts-colors, hover-color);
        }
    }
    div {
        display: flex;
        justify-content: space-between;
    }
    .navbar {
        padding: 0 0 0 0;

        .header {
            background-color: map-get($bgs-colors, primary_bg);

            .logo {
                height: 90px;
                width: 90px;
                margin: 10px;
            }
            button {
                border: 0;
            }
            .nav{
                justify-content: flex-end;
            }
        }
    }
}