/*Index*/
.inicio {
    margin: auto;
    height: 600px;
    @include flex-ColumnCenter;

    section {
        display: flex;
        flex-direction: column;

        h1 {
            text-align: center;
        }
    }

    section {
        display: flex;
        flex-direction: column;

        .contenido {
            display: flex;
            margin: 0;
            align-items: center;

            img {
                width: 100%;
                height: 100%;
            }

            .texto {
                @include flex-ColumnCenter;
                align-items: flex-start; 
                .accordion {
                    margin-bottom: 110px;
                    --bs-accordion-bg: transparent;
                    --bs-accordion-active-bg: map-get(bgs-colors, accordion_bg );
                    backdrop-filter: blur(5px);
                }

                p {
                    color: map-get($fonts-colors, font-color);
                    @include flex-ColumnCenter;
                    align-items: flex-start;
                    padding: 0;
                    margin: 0;
                }
            }
        }
    }
}

