/*Info*/
.sobreMi {
    .row {
        margin: 0;
        justify-content: space-evenly;

        .card {
            box-shadow: 0 0 10px #9b9b9b;
            width: 18rem;
            margin: 5px 5px 5px 5px;
            background-color: map-get($bgs-colors, secondary_bg);
            img {
                padding-top: 10px;
                height: 25vh;
                transition: all 1s;
                &:hover{
                    transform: scale(1.3);
                    cursor: pointer;
                }
            }
            .card-body {
                display: flex;
                flex-direction: column;
                h5 {
                    text-align: center;
                }
                p {
                    font-size: 15px;
                }
                a {
                    @include flex-JustiCenter;
                    margin-top: auto;
                    &:hover{
                        transform: scale(1.1);
                    }
                }
                }
            }
        }
    }
