@media (max-width: 992px) {
    .inicio {
        height: auto;
        section .contenido .texto {
            align-items: center;
            margin-top: 20px;
            .accordion {
                margin-top: 20px;
            }
        }
    }
    .contacts{ 
        .contactsForm{ 
            div{ 
                form {
                    width: 350px;
                }
                }
            }
        }
    }
@media (max-width: 320px) {
    main {
        margin: 10px 0 10px 0;
        p{
            font-size: 18px;
        }
    }
        header .navbar .header .logo {
            width: 70px;
            height: 70px;
        }
        .inicio {
            height: auto;
        section .contenido .texto {
            align-items: center;
            margin-top: 20px;
            .accordion {
                margin-top: 20px;
            }
        }
    }
        .contacts form div {
            display: flex;
            flex-direction: column;
        }
        .contacts{ 
            .contactsForm{ 
                div{ 
                    form {
                        width: auto;
                    }
                    }
            }
            }
        .portfolio .descriptions div p {
            font-size: 18px;
        }
        .certificados .row .card .card-body p {
            font-size: 18px;
        }
        .contacts .contactsForm div form div label {
            font-size: 18px;}
        footer {
            .redes svg {
                width: 30px;
                height: 30px;
                }
            p {
                font-size: 12px;
                text-align: center;
        }
        }
    }
    