@media (max-width: 992px) {
    .inicio {
        height: auto;
        section .contenido .texto {
            align-items: center;
            margin-top: 20px;
            .accordion {
                margin-top: 20px;
            }
        }
    }
    .contacts{ 
        .contactsForm{ 
            div{ 
                form {
                    width: 350px;
                }
                }
            }
        }
    }
@media (max-width: 320px) {
    header .navbar .header .logo {
        width: 70px;
        height: 70px;
    }
    main {
        margin: 10px 0 10px 0;
    }
    .inicio {
        height: auto;
        section .contenido .texto {
            align-items: center;
            margin-top: 20px;
            .accordion {
                margin-top: 20px;
            }
        }
    }
    footer {
        .redes svg {
            width: 30px;
            height: 30px;
        }
        p {
            font-size: 8px;
        }
    }
    .contacts form div {
        display: flex;
        flex-direction: column;
    }
    .contacts{ 
        .contactsForm{ 
            div{ 
                form {
                    width: auto;
                }
                }
            }
        }
    }