/*Portfolio*/
.portfolio {
    p {
        text-align: center;
        padding: 10px 0 0 0;
    }

    .slices {
        height: 500px;
        text-align: center;
        margin-block: auto;
        border: #ffffff solid;

        .carousel-inner {
            height: 100%;

            .carousel-item.active {
                @include flex-JustiCenter;
                align-items: center;
                height: 100%;

                img {
                    height: 100%;
                    text-align: center;
                    margin-left: 20px;
                }
                h2{
                    font-size: 20px;
                }
                a:hover {
                    cursor: pointer;
                    color: map-get($fonts-colors, hover-color);
                }
            }
        }
        .button:hover{
            transform: scale(2);
        }
    }
}