/*Portfolio*/
.portfolio {
    p {
        text-align: center;
        padding: 10px 0 0 0;
    }
    .slices {
        height: 500px;
        text-align: center;
        margin-block: auto;
        border: #ffffff solid;
        .carousel-inner {
            height: 100%;
            .carousel-item.active {
                @include flex-JustiCenter;
                align-items: center;
                height: 100%;
                img {
                    height: 100%;
                    text-align: center;
                    margin-left: 20px;
                }
                h2{
                    font-size: 20px;
                }
                a:hover {
                    cursor: pointer;
                    color: map-get($fonts-colors, hover-color);
                }
            }
        }
        .button:hover{
            transform: scale(2);
        }
    }
    .descriptions{
        margin: 20px 0 10px 0;
        justify-content: space-evenly;
        div{
            border: 2px solid white;
            border-radius: 10px;
            margin: 5px;
            backdrop-filter: blur(5px);
            p{
                font-size: 16px;
                display: flex;
                flex-direction: column;
                margin-top: 10px;
                color: map-get($fonts-colors,font-color);
            }
        }
    }
}