/*Variables*/
$fonts-colors:(
    font-color: #ffffff,
    hover-color: #dda302,
);
$bgs-colors:(
    primary_bg: #295264,
    secondary_bg: #ffffff,
    progress_bg: #747474cf,
    accordion_bg: #ffffff75,
);
@mixin with-imgFooter {
    height: 60px;
    width: 60px;
}
@mixin flex-JustiCenter{
    display: flex;
    justify-content: center;
}
@mixin flex-ColumnCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
}