/*Conocimientos*/
.conocimientos {
    button {
    padding: 0px 20px 0 0;
    .imagenp {
        display: inline;
        justify-items: center;
        padding: 20px;
        height: 100px;
        width: 100px;
            }
    p {
        margin: 0;
    }
    }
    .html {
        background: map-get($cursos,html);
    }
    .css{
        background: map-get($cursos,css);
    }
    .javas {
        background: map-get($cursos,javas);
    }
    .github {
        background: map-get($cursos,github);
    }
    .progress {
        background-color: #747474cf;
        p {
            margin: 0;
        }
    }
}